@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


@media only screen and (min-width: 25em) {

  .row {
    width: 100%;
  }

  .img-flex:nth-child(1),
  .img-flex:nth-child(4) {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

.row {
 display:flex;
}
}

@media only screen and (min-width: 90em) {
